.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.time-container {
    width: 400px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    box-sizing: border-box;
    background: #6E6362;
    box-shadow: 4px 6px 5px black;
    color: #EBEBD3;
    user-select: none;
 }

.colon {
    font-size: 4.5em;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.meridiem {
    padding: 4.5px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 2em;   
}

.top-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    user-select: none;
}

.top-btn {
    width: 200px;
    padding: 15px;
    background:#335C67;
    border: 1px solid black;
    box-sizing: border-box;
}

.bottom-btn {
    width: 400px;
    padding: 15px;
    margin-top: 10px;
    background: #C73E1D;
    user-select: none;
    box-sizing: border-box;
}

.btn {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EBEBD3;
    cursor: pointer;
    box-shadow: 4px 6px 5px black;   
}