
    <div class="button-group">
        <div class="button" (click)="setTime()">Set Time</div>
        <div class="button" (click)="startTime()">Start Time</div>
    </div>

<div class="container">


    
  <div class="value-container">
      <i *ngIf="settingTime" class="fas fa-angle-up fa-xs" (click)="increment($event, 'seconds')"></i>
      <div class="time-value">{{hours | formatTimeValue}}</div>
      <i *ngIf="settingTime"  class="fas fa-angle-down fa-xs" (click)="decrement($event, 'seconds')"></i>
  </div>

  :

  <div class="value-container">
      <i *ngIf="settingTime"  class="fas fa-angle-up fa-xs" (click)="increment($event, 'minutes')"></i>
      <div class="time-value">{{minutes | formatTimeValue}}</div>
      <i *ngIf="settingTime"  class="fas fa-angle-down fa-xs" (click)="decrement($event, 'minutes')"></i>
  </div>

  :

  <div class="value-container">
      <i *ngIf="settingTime"  class="fas fa-angle-up fa-xs" (click)="increment($event, 'hours')"></i>
      <div class="time-value">{{seconds | formatTimeValue}}</div>
      <i *ngIf="settingTime"  class="fas fa-angle-down fa-xs" (click)="decrement($event, 'hours')"></i>
  </div>

  <div class="meridian">pm</div>



</div>