<p>
  clock works!
</p>
<h2>{{myTime.hourStr}}:{{myTime.minuteStr}}:{{myTime.secondStr}}</h2>

<button (click)="setTime()">Set time</button>
<button (click)="startTime()">Start time</button>
<button (click)="stopTime()">Stop time</button>
<span *ngIf="settingTime">
  <button (click)="UpSeconds()">Up Seconds</button>
  <button (click)="DownSeconds()">Down Seconds</button>

  <button (click)="UpMinutes()">Up Minutes</button>
  <button (click)="DownMinutes()">Down Minutes</button>

  <button (click)="UpHours()">Up Hours</button>
  <button (click)="DownHours()">Down Hours</button>
</span>