<div class="main-container">
        <div class="top-btn-group">
            <div class="top-btn btn" (click)="setAutoTime()">AUTO TIME</div>
            <div class="top-btn btn" (click)="setTime()">MANUAL TIME</div>
        </div>
        
    <div class="time-container">

        <app-time-value 
            timeValue={{display.hours}}
            settingTime={{settingTime}}
            settingAlarm={{settingAlarm}}
            (incrementTimeValue)="increment('hours')"
            (decrementTimeValue)="decrement('hours')">
        </app-time-value>

        <div class="colon">:</div>

        <app-time-value 
            timeValue={{display.minutes}}
            settingTime={{settingTime}}
            settingAlarm={{settingAlarm}}
            (incrementTimeValue)="increment('minutes')"
            (decrementTimeValue)="decrement('minutes')">
        </app-time-value>
    
        <div *ngIf="settingAlarm == 0" class="colon">:</div>

        <app-time-value
            *ngIf="settingAlarm == 0" 
            timeValue={{display.seconds}}
            settingTime={{settingTime}}
            (incrementTimeValue)="increment('seconds')" 
            (decrementTimeValue)="decrement('seconds')">
        </app-time-value>

        <div class="meridiem">{{display.meridiem}}</div>

    </div>

        <div class="bottom-btn btn" (click)="setAlarm()">SET ALARM</div>
</div>