.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.time-container {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    box-sizing: border-box;
    background: #6E6362;
    box-shadow: 4px 6px 5px black;
    color: #EBEBD3;
    user-select: none;
 }

.colon {
    font-size: 5em;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.meridiem {
    padding: 5px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 2em;   
}

.top-btn-group {
    display: flex;
    flex-direction: row;
    width: 320px;
    justify-content: space-between;
    margin-bottom: 20px;
    user-select: none;
}

.top-btn {
    flex-basis: 190px;
    height: 50px;
    background:#335C67;
}

.bottom-btn {
    width: 320px;
    height: 50px;
    margin-top: 20px;
    background: #C73E1D;
    user-select: none;
}

.btn {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EBEBD3;
    cursor: pointer;
    box-shadow: 4px 6px 5px black;   
}








