i {
    height: 100%;
}

.container {
    width: 100px;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.up-arrow, .down-arrow {
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.value {
    width: 100px;
    height: 100px;
    font-size: 6em;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}